* {
    font-family: 'Livvic', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    height: 0;
}
body {
    background: #333333;
}
strong {
    font-weight: bold;
}
div.container {
    min-height: calc(100vh - 8rem);
    background: #333333;
    color: white;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align-last: center;
}

@media (min-width: 576px) {
    div.container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    div.container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    div.container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    div.container {
        max-width: 1040px;
    }
}
div.container h1 {
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
div.container p {
    text-align: center;
    font-size: 1.2rem;
}
div.container p#explain {
    margin-top: 0.8rem;
}
div.container h4 {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}
div.container h4:first-of-type {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}
div.container img {
    height: 50vh;
}

div.container a {
    color: white;
    text-decoration: none;
}
div.container a:hover {
    border-bottom: 1px dotted white;
}
div.container.privacy a {
    color: white;
    text-decoration: none;
    border-bottom: 1px dotted white;
}
div.container.privacy a:hover {
    border-bottom: 1px dotted gray;
}
div.container.privacy h4 {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}
div.container.privacy p:last-of-type {
    margin-bottom: 4rem;
}
#text-muted {
    color: gray;
}

footer.footer {
    height: 8rem;
    background: #212529;
    text-align: center
}
footer.footer div.footer-darker {
    padding: 8px;
    color: white;
    background: rgba(0,0,0,0.2);
}
footer.footer div.footer-inner {
    color: white;
    padding: 1.6rem;
}
footer.footer div.footer-inner a {
    color: white;
    text-decoration: none;
}
footer.footer div.footer-inner a:hover {
    border-bottom: 1px dotted white;
}